body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0B0C10;
  /* fondo oscuro espacial */
  background-image: url('./img/stars.jpg');
  /* fondo de estrellas transparente */
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  color: #fff;
  /* texto blanco por defecto */
  font-family: 'Roboto', sans-serif;
}


/* Animación del fondo: zoom y movimiento diagonal */
@keyframes bgMoveZoom {
  0% {
    background-position: 0% 0%;
    background-size: 120% 120%;
  }

  50% {
    background-position: 100% 100%;
    background-size: 125% 125%;
  }

  100% {
    background-position: 0% 0%;
    background-size: 120% 120%;
  }
}

/* Fondo animado */
.bg-animated {
  animation: bgMoveZoom 60s linear infinite;
  background-repeat: no-repeat;
  background-size: 120% 120%;
  background-position: 0% 0%;
}



/*estilos para la card sobre mi*/
.stars-bg {
  background-size: cover;
    opacity: 2;
    animation: moveStars 200s linear infinite;
    z-index: 0;
}

.stars-bg-fast {
  background-size: contain;
    opacity: 3;
    animation: moveStarsFast 80s linear infinite;
    z-index: 0;
}

@keyframes moveStars {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-500px, -500px);
  }
}

@keyframes moveStarsFast {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-1000px, -1000px);
  }
}